<div class="container text-center mt-5">
  <div class="row mb-5">
    <div class="col-12">
      <img class="rounded d-inline" src="./assets/Squilly_right.gif" alt="image">
      <h5 class="d-inline text-success wavy align-middle">
        @for (letter of textSpans; track letter; let i = $index) {
          <span [style]="getSpanStyle(i)" [innerHTML]="letter"></span>
        }
      </h5>
      <img class="rounded d-inline" src="./assets/Squilly_left.gif" alt="image">
    </div>
  </div>
  <div class="row">
    <!-- Rules Card -->
    <div class="col-6">
      <div class="card h-100">
        <h5 class="card-header">Rules</h5>
        <div class="card-body">
          <h5 class="card-title">The Rules of a Squilly Bowl</h5>
          <p class="card-text">Click below to view the rules of the Squilly Bowl</p>
          <a [href]="rulesRoute" class="btn btn-primary">Rules</a>
        </div>
      </div>
    </div>

    <!-- Create Card -->
    <div class="col-6">
      <div class="card h-100">
        <h5 class="card-header">Create!</h5>
        <div class="card-body">
          <h5 class="card-title">Create a new Squilly Bowl match</h5>
          <p class="card-text">Click below to create a new Squilly Bowl match!</p>
          <a [href]="createRoute" class="btn btn-primary">Create Now!</a>
        </div>
      </div>
    </div>
  </div>
</div>