<div clas="row">
  <div class="col-12">
    <h1 class="text-center">CONGRATS <span class="text-success fw-bold">{{ squillyBowlChamp }}</span> YOU ARE THE SQUILLYBOWL CHAMP!</h1>
    <h3 class="text-center">
      ENJOY YOUR TROPHY
      <img class="img-fluid rounded" src="./assets/Squilly2.png" alt="image">
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped border border-5 border-dark text-center">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col" *ngFor="let rn of roundNames">{{ rn }}</th>
          <th scope="col">Total Score</th>
        </tr>
      </thead>

      <tbody>
        @for (stat of tableStats; track stat.name; let i = $index) {
          <tr>
            <th scope="row">{{ stat.name }}</th>
            @for (roundStat of stat.roundScore; track roundStat.score; let i = $index) {
              <td>
                {{ roundStat.score || '-' }}<span *ngIf="roundStat.secondScore">/{{ roundStat.secondScore}}</span>
              </td>
            }
            <td>{{ stat.totalScore }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12 text-center d-grid">
    <button type="button" class="btn btn-success" (click)="playAgain()">Play Again!</button>
  </div>
</div>