<div class="card h-100">
  <h5 class="card-header text-center">Round History</h5>
  <div class="card-body">
    <div ngbAccordion [closeOthers]="true">
      @for (round of roundInfo; track round; let index = $index) {
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>{{ roundTitle(index) }}</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                @for (playerSet of round.players; track playerSet) {
                  @for (player of playerSet; track player) {
                    <div>
                      {{ player.name }}: {{ player.score }}
                    </div>
                  }
                }

                @for (teamSet of round.teams; track teamSet) {
                  @for (team of teamSet; track team) {
                    <div>
                      {{ team.firstPlayer.name }}/{{ team.secondPlayer.name }}: {{ team.score }}
                    </div>
                  }
                }
              </ng-template>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>